models/translation/mt5-nom-translator/model.safetensors filter=lfs diff=lfs merge=lfs -text
models/translation/mt5-nom-translator/spiece.model filter=lfs diff=lfs merge=lfs -text
models/translation/mt5-nom-translator/training_args.bin filter=lfs diff=lfs merge=lfs -text
